@tailwind base;
@tailwind components;
@tailwind utilities;

.beranda-container {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../src/assets/static/home-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.paket-container {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../src/assets/static/home-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.gambar {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../src/assets/static/home-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.about-container {
  background: linear-gradient(
    to right,
    rgba(169, 98, 98, 0.5),
    rgba(105, 175, 133, 0.5)
  );
}
.porto-container {
  background: linear-gradient(
    to right,
    rgba(169, 98, 98, 0.5),
    rgba(105, 175, 133, 0.5)
  );
}
